* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;

}

html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

/* Home Section */
#navbar {
    color: #fff;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li {
    padding: 0.75rem;
}

#navbar ul li:hover {
    background: #336ea2;
    border-radius: 4px;
}

/* Home Section */
#home {
    display: flex;
    min-height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px !important;
    
    
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name {
    text-align: center;
}

#home .name h2 {
    margin-bottom: 0.5rem;
}

#home .name p {
    opacity: 0.6;
    font-style: italic;
}

/* training */
#training {
    color: #fff;
    padding: 1rem;
}

#training .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#training .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}

#training .items .item:hover {
    color: rgb(40, 244, 255);
    opacity: 0.6;
}

/* courses */
#courses {
    color: #333;
    padding: 1rem;
}

.courses {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.courses .course {
    display: flex;
    
    padding: 0.5rem;
    margin-bottom: 0.5rem;

}

.courses .course .course-image {
    margin-right: 0.5rem;
    position: relative;

}

.courses .course .course-image img {
    border-radius: 5px;
}

.courses .course .course-image span {
    background: red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 0;
}

.courses .course .course-info .title {
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.courses .course .course-info .description {
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;

}

.courses .course .course-info .instructor {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}

.courses .course .course-info .rating {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}

/* Contact */
#contact {
    color: #fff;
    padding: 1rem;
}

#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;

}

#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;


}

#contact .contact-form ul li a:hover{
    opacity: 0.8;
    
}
#headernavbar{
    overflow: hidden;
  position: fixed; /* Sabit pozisyon */
  top: 0; /* Sayfanın en üstü */
  width: 100%; /* Tam ekran genişliği */
  z-index: 1000; /* Diğer öğelerden üstte */
}
